<div class="body">
  <header>
    <div class="my-navbar my-navbar-fixed">
      <!-- Logo -->
      <a routerLink="/" class="my-navbar-link">
        <i class="fa fa-camera-retro fa-3x" aria-hidden="true"></i>
      </a>

      <!-- Right Navigation -->
      <div class="my-navbar-righr">

        <!-- Text link -->
        <a routerLink="/" class="my-navbar-item my-navbar-link">
          <i class="fa fa-picture-o" aria-hidden="true"></i>
        </a>
        <a routerLink="/" class="my-navbar-item my-navbar-link">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
        <a routerLink="/" class="my-navbar-item my-navbar-link">
          <i class="fa fa-user-o" aria-hidden="true"></i>
        </a>

        <!-- Text link -->
        <!--<a routerLink="/change-password" *ngIf="isLoggedIn && role != 'consult'" class="my-navbar-item my-navbar-link">User settings</a>-->

        <!-- Button (call-to-action) -->
        <!--<a *ngIf="!isLoggedIn" routerLink="/login" class="my-navbar-item my-navbar-button btn btn-success">Sign in</a>-->
        <!--<a *ngIf="isLoggedIn" routerLink="/login" class="my-navbar-item my-navbar-button btn btn-danger">Sign out</a>-->
      </div>
    </div>
  </header>

  <main>
    <router-outlet></router-outlet>
  </main>

</div>
